#root {
  max-width: 80%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

html {
 font-size:14px;
 background-image: url(assets/BRO_bg.jpg);
 background-size: cover;
background-position: 50% 75%;
 background-repeat: no-repeat;
 background-color: rgb(204, 204, 204);

}
